<div class="post">
  <div class="header">
    <h2>Post title</h2>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>автор</strong>
    <small>12.09.20</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut beatae consequatur eius eum, inventore veniam. A adipisci eaque officia quis sed vel! Ad architecto autem commodi corporis, culpa delectus dolorum explicabo, facere illo ipsa iure magnam molestiae nostrum perspiciatis praesentium, quae quasi quo quod repellat temporibus veniam voluptatibus voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eveniet impedit ipsum modi mollitia nam sed sint. Omnis, quisquam.</p>
  </div>
</div>
